@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #d41c1c;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #d41c1c;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 0px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
    background-clip: content-box;
  }
  
  /* Firefox scrollbar */
  html {
    scrollbar-width: thin;
    scrollbar-color: #fff;
  }